
.container{

    position: relative;
    width: 746.58px;
    height: 319px;
    top: 64px;
    left: 64.05px;


}

.first{
    
    width: 746.58px;
    height: 40px;
    top: 64px;
    left: 64.05px;
    background: #006633;
    margin-bottom: 53px;


}

.firstp{

    position: absolute;
    width: 107px;
    height: 24px;
    top: 8px;
    left: 37px;
    gap: 4px;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;


}

.foci{

    width: 24px;
    height: 24px;


}

/*.second{

  
    width: 746.58px;
    height: 40px;
    top: 157px;
    left: 64.05px;
    gap: 0px;
    opacity: 0px;
    background: #006633;
    margin-bottom: 53px;

}

.labdarugas{

    position: relative;
    width: 135px;
    height: 24px;
    top: 8px;
    left: 24px;
    gap: 4px;

}

.lead{
    
    position: absolute;
    width: 92.07px;
    height: 24px;
    top: 8px;
    left: 204.66px;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #000000;

}

.secondvector{

    position: absolute;
    width: 183.32px;
    height: 40px;
    left: 159.12px;

}



.foci2{

 


}
*/

.second{

    
    width: 746.58px;
    height: 40px;
    top: 157px;
    left: 64.05px;
    gap: 0px;
    opacity: 0px;
    background: #006633;
    margin-bottom: 53px;

}

.labdarugas{

    position: relative;
    width: 135px;
    height: 24px;
    top: 8px;
    left: 24px;
    gap: 4px;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    display: flex;
    color: #ffffff;


}

.foci2{

    width: 24px;
    height: 24px;
    


}

.secondvector{

    position: absolute;
    width: 183.32px;
    height: 40px;
    left: 159.12px;
    gap: 0px;
    opacity: 0px;

}

.lead{

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 92.07px;
    height: 24px;
    top: 103px;
    left: 204.66px;
    gap: 4px;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;

}

.arrow{

    position: absolute;
    width: 20px;
    height: 20.02px;
    top: 100px;
    left: 687px;
   
    
   

}

.btn{
    position: absolute;
    width: 28px;
    height: 28px;
    top: 99px;
    left: 711px;
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
    background: #55AE3A;
    border: none;


}


.third{

    width: 746.58px;
    height: 40px;
    top: 250px;
    left: 64.05px;
    background: #006633;
    margin-bottom: 53px;

}

.fourth{

    width: 746.58px;
    height: 40px;
    top: 343px;
    left: 64.05px;
    background: #006633;

}

